@charset "UTF-8";

header {
	background-color: gray;
}

.login-top {
	display: inline-block;
	padding: 10px;
	color: white;
	float: left;
}

.time {
	margin-top: 15px;
	float: left;
	font-size: 10px;
}

.form-area {
	padding-top: 50px;
	padding-bottom: 50px;
}

.list {
    float: left;
    margin-right: 20px;
   	text-align: center;
    text-align-last: center;
}

.name {
	margin-bottom: 10px;
}

.name-form {
	margin-bottom: 10px;
}

.form {
    float: left;
    padding-bottom: 50px;
}

.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}

*{
    margin: 0;
    padding: 0;
}

.footer {
	clear: both;
	background-color: gray;
}

.hoge {
	display: inline-block;
	padding: 10px;
	color: white;
}